doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/text.js')
  body
    p(class='tri-text') Read about this project on GitHub.
    div(id='black-triangle')
    block content
