doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/javascripts/text.js')
  body
    p(class='tri-text') Details about this project #[a(href='https://github.com/skwak/big-dummys-leaves-of-spam') on GitHub]!
    div(id='black-triangle')
    block content
